html,
body {
    background-color: #ffffff;
}
a {
    color: #25ced1 ;
}
a:hover {
    color: #595F72;
}

.body {
    min-height: 100vh;
    background-color: #ffffff;
    color: #595F72;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #fceade;
}
.navbar-nav li a p {
    color:#595F72 !important;
}

.navbar-nav li a:hover {
    color: #07beb8 !important;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FF8A5B;
    padding: 25px 0 50px 0;
}


.footer p {
    font-size: 14px;
    color: #fff;
}